.text_info{
	width: 560px;
    text-align: right;
    float: left;
    height: 50px;
    /*margin-top: 5px;*/
    /* border: 1px solid black; */
   /* margin-bottom: 5px;*/
}
.input_info{
	width: 440px;
    text-align: left;
    margin-left: 10px;
    float: left;
    height: 50px;
}
.clearfix {
    clear: both;
}
.button_size{
	height: 30px;
	width: 80px;
	color: white;
	background-color: #B89369;
}
.v{
	height: 50px;
}
span{
	vertical-align: middle;
	font-size: 25px;
	color: #FFFFFF;
}
.radio{
	width:30px;
	height: 30px;
	vertical-align: middle;
}
input{
	vertical-align: middle;
	width: 150px;
	height: 25px;
}
.calendar{
	height: 25px;
	width: 120px;
}
select{
	vertical-align: middle;
	width: 60px;
	height: 25px;
}
